* {
    padding: 0;
    margin: 0;
}

.yg-toast {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    border-radius: 4px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    text-align: center;
    transition: all .1s;
}

.yg-toast-text {
    color: #fff;
    padding: 4px 10px;
    padding-bottom: 6px;
}